body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
    /* height: 280vh; */
}

.bg-dark{
    background: transparent !important;

}

.bg-dark.scrolled{
    background: rgb(222,192,222) !important;
    transition: 500ms;
}
.nav,#thing{
    font-size: 1.5rem;
    color: #EA1C2C !important;
    font-weight: lighter;
}

h2{
    margin: 100px 0 110px 0;
    font-weight: lighter;
    color: #EA1C2C;
    
}

p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    margin: -90px 0;
}


.nav-link{
    color: white !important;
}
span{
    color: #EA1C2C;
}

.display-3{
    font-size:48px;
    font-weight: lighter;
}

.lolli{
    margin-top: -100px;
}
.pad{
    margin-bottom: 70px;
 }

@media (min-width: 1200px){

    .display-3{
        font-size:70px;
    }

    .imgs{
        margin-top: 0px !important;
    }


}


@media (min-width: 992px){
    .mt-6{
        margin-top: 100px;
    }
    .pad{
        margin-top: 0px !important;
        padding: 0 100px;
    margin-bottom: 0;
    }
    h2{
        margin: -200px 0 100px 0;
    }
}

@media (min-width:768px) {

    h2{
        padding: -10px;
    }

    .imgs{
        margin-top: 100px;
    }

}